#define IDM_FILE 10001
#define IDR_MENU 10000
#define IDM_ADDPLAYER 10011
#define IDM_CONNECT 10021
#define IDM_HOSTGAME 10031
#define IDM_EXIT 10041
#define IDD_CONNECT 1000
#define IDC_IPADDRESS 1001
#define IDC_CONNECTPORT 1002
#define IDC_IPTEXT 1003
#define IDC_CONNECTPORTTEXT 1004
#define IDC_BTNCONNECT 1005
#define IDD_HOST 2000
#define IDC_HOSTPORT 2001
#define IDC_HOSTDESC 2002
#define IDC_HOSTPORTTEXT 2003
#define IDC_BTNHOST 2004
#define IDD_ADDPLAYER 3000
#define IDC_NAME 3001
#define IDC_COLOURRED 3002
#define IDC_COLOURGREEN 3003
#define IDC_COLOURBLUE 3004
#define IDC_CHKAI 3010
#define IDC_BTNADDPLAYER 3011
#define IDC_STCNAME 3005
#define IDC_STCCOLOUR 3006
#define IDC_STCRED 3007
#define IDC_STCBLUE 3009
#define IDC_STCGREEN 3008
IDR_MENU MENU
BEGIN
  POPUP "File"
  BEGIN
    MENUITEM "Add Player",IDM_ADDPLAYER
    MENUITEM "Connect",IDM_CONNECT
    MENUITEM "Host Game",IDM_HOSTGAME
    MENUITEM "Exit",IDM_EXIT
  END
END
IDD_CONNECT DIALOGEX 6,6,96,60
CAPTION "Join Game"
FONT 8,"MS Sans Serif",0,0
STYLE 0x10C80000
BEGIN
  CONTROL "",IDC_IPADDRESS,"SysIPAddress32",0x50010000,16,15,66,12
  CONTROL "52045",IDC_CONNECTPORT,"Edit",0x50012000,56,30,26,12,0x00000200
  CONTROL "IP Address of server:",IDC_IPTEXT,"Static",0x50000201,16,3,66,9
  CONTROL "Port:",IDC_CONNECTPORTTEXT,"Static",0x50000202,16,30,36,12
  CONTROL "Connect",IDC_BTNCONNECT,"Button",0x50010000,26,46,46,12
END
IDD_HOST DIALOGEX 6,6,76,64
CAPTION "Host Game"
FONT 8,"MS Sans Serif",0,0
STYLE 0x10C80000
BEGIN
  CONTROL "52045",IDC_HOSTPORT,"Edit",0x50010000,36,30,26,13,0x00000200
  CONTROL "Enter the port you wish to listen on",IDC_HOSTDESC,"Static",0x50000000,6,6,60,19
  CONTROL "Port:",IDC_HOSTPORTTEXT,"Static",0x50000202,6,30,26,13
  CONTROL "Launch",IDC_BTNHOST,"Button",0x50010000,6,46,60,13
END
IDD_ADDPLAYER DIALOGEX 6,6,169,76
CAPTION "Add Player"
FONT 8,"MS Sans Serif",0,0
STYLE 0x10C80000
BEGIN
  CONTROL "",IDC_NAME,"Edit",0x50010000,6,18,86,13,0x00000200
  CONTROL "",IDC_COLOURRED,"Edit",0x50012000,134,18,26,9,0x00000200
  CONTROL "",IDC_COLOURGREEN,"Edit",0x50012000,134,30,26,9,0x00000200
  CONTROL "",IDC_COLOURBLUE,"Edit",0x50012000,134,43,26,9,0x00000200
  CONTROL "AI player",IDC_CHKAI,"Button",0x50010003,6,36,53,9
  CONTROL "Add Player",IDC_BTNADDPLAYER,"Button",0x50010000,60,55,53,13
  CONTROL "Name:",IDC_STCNAME,"Static",0x50000000,6,6,26,9
  CONTROL "Colour:",IDC_STCCOLOUR,"Static",0x50000000,100,5,26,9
  CONTROL "Red:",IDC_STCRED,"Static",0x50000000,100,18,26,9
  CONTROL "Blue:",IDC_STCBLUE,"Static",0x50000000,100,43,26,9
  CONTROL "Green:",IDC_STCGREEN,"Static",0x50000000,100,30,26,9
END
